<%= simple_form_for(@clip) do |f| %>
  <%= f.error_notification %>

  <form>
  <!-- New Form -->
  <div class="sign-up">
    <h1 class="sign-up-title">Add a Clip</h1>
    <%= f.input :title, input_html: { class: 'login-form-block'},
                :autofocus=>true, label: false, placeholder: "Title",
                :hint => "Enter a Title for your Clip" %>

    <br>

    <%= f.input :vine_link, input_html: { class: 'login-form-block' },
                label: false, placeholder: "Vine Code",
                :hint => "http://vine.co/v/ThisIsTheCode"%>

    <br>

    <%= f.input :instagram_link, input_html: { class: 'login-form-block' },
                label: false, placeholder: "Instagram Code",
                :hint => "http://instagram.com/p/ThisIsTheCode/" %>

    <br>

    <% grouped_options = {
            'Albums' => @current_user.albums { |album| [album.name, "#{album.id}-Album"] },
            'Show' => [@current_user.show.name]}
    %>

    <%= select :clip, :attachable_id, grouped_options_for_select(grouped_options) %>



    <br>

    <%= button_tag(type: 'submit', class: "btn btn-info btn-embossed btn-block") do %>
      <i class="fui-plus pull-right"></i> Upload
    <% end %>
  </div>
  </form>

<% end %>
