<% page_title "#{@user.user_name}" %>

<div class="row-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="span3">


    <!-- User Show Card-->
    <% if @user.show.present? %>
    <div id="show-card">

      <div class="img-wrapper">
        <%= image_tag @user.show.avatar %>
      </div>

      <h1>
        <%= @user.show.name %>
      </h1>

      <h2>
        <%= @user.show.show_title %>
      </h2>

      <br>

      <div class="btn-wrapper">
        <%= link_to @user.show,
                    class: "btn btn-block btn-embossed btn-primary" do %>
          <i class="fui-arrow-right pull-right"></i> Visit the Show
        <% end %>
      </div>

    </div><!-- Show Card End -->
    <% else %>

      <% if current_user == @user %>

        <!-- Create a Show tab for new Users-->
        <div id="show-card">

          <div class="img-wrapper">
            <img src="https://s3.amazonaws.com/6invy/new+folder/Assets/Missing-Images/new-show-new-user.PNG" alt="Create a Show at 6invy"/>
          </div>

          <h1>
            Hey <%= @user.first_name %>
          </h1>

          <h2>
            To start uploading clips Create a Show and you're ready to go.
          </h2>

          <br>

          <div class="btn-wrapper">
            <%= link_to "Create a Show", new_show_path,
                        class: "btn btn-block btn-embossed btn-primary" %>
          </div>

        </div><!-- Create a show new User END -->
      <% end %>

    <% end %>



  </div>



  <div class="span9">

    <div class="user_profile_cover">
      <%= image_tag @user.profile_cover(:cover) %>
      <div class="user_profile_avatar_info">
        <b><%= link_to @user.user_name, @user %></b><br>
        <small><%= @user.status %></small>
      </div>

    </div>

    <hr>

    <center><h3>Coming soon</h3></center>

    <div class="center">
      <div class="cloud cloud_nok">
        <span class="status_nok"></span>
      </div>
    </div>



  </div>





</div>