<% page_title "#{@user.user_name}" %>

<div class="row-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="span3">


    <!-- User Show Card-->
    <% if @user.show.present? %>
      <!-- Show Widget -->
        <div class="wrapper">
          <div id="widget">

            <div class="photos">
              <%= image_tag @user.show.avatar %>
            </div>

            <div class="info">

              <div class="profile">
                <%= image_tag @user.avatar(:avatar) %>
              </div>

              <p class="name">
                <%= link_to @user.show.name, @user.show %>
              </p>

            </div>
          </div>
        </div>
        <br>
    <% else %>

      <% if current_user == @user %>

        <!-- Create a Show tab for new Users-->
        <div id="show-card">

          <div class="img-wrapper">
            <img src="http://s3.amazonaws.com/6invy/new+folder/Assets/Missing-Images/256x256-show-avatar-missing.png" alt="Create a Show at 6invy"/>
          </div>

          <h1>
            Hey <%= @user.first_name %>
          </h1>

          <h2>
            To start uploading clips Create a Show and you're ready to go.
          </h2>

          <br>

          <div class="btn-wrapper">
            <%= link_to "Create a Show", new_show_path,
                        class: "btn btn-block btn-embossed btn-primary" %>
          </div>

        </div><!-- Create a show new User END -->
      <% end %>

    <% end %>



  </div>



  <div class="span9">

    <div class="user_profile_cover">
      <%= image_tag @user.profile_cover(:cover) %>
      <div class="user_profile_avatar_info">
        <b><%= link_to @user.user_name, @user %></b><br>
        <small><%= @user.status %></small>
      </div>

    </div>

    <hr>

    <center><h3>Coming soon</h3></center>

    <div class="center">
      <div class="cloud cloud_nok">
        <span class="status_nok"></span>
      </div>
    </div>



  </div>





</div>